body {
    border: 2px solid red;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    text-align: center;
    padding: 64px 199px 240px 199px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    color: #3F3D56;
    font-weight: normal;
    line-height: 40px;
}

h1 span {
    color: #EE24FF;
    font-weight: bold;
    padding-bottom: 16px;
}

p {
    font-size: 15px;
    line-height: 30px;
    color: #828282;
    width: 540px;
    height: 107px;
}

footer {
    position: absolute;
    width: 1024px;
    height: 176px;
    left: 0px;
    top: 614px;
}

.line {
    position: absolute;
    width: 391px;
    height: 0px;
    left: 317px;
    top: 614px;
    border: 1px solid #ECEFF2;
}

footer a {
    font-weight: bold;
    font-size: 15px;
    color: #3F3D56;
    text-decoration: none;
    margin-left: 42px;
    }